/* TOPOGRAPHY 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT-WEIGHTS:
default: 400, 500, 600;

lINE HEIGHTS:
default: 1, 1.3;

BORDER-RADIUS:
default: 1rem;

*/



/* Below 1344px (smaller desktops) */
/* 84 x 16 = 1344 */

@media(max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Below 1200px (landscape tablets) */
@media(max-width: 75em) {
    html {
        font-size: 56.25%;
        /* 9/16 = 0,5625 */
        /* 1 rem = 9px */
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        row-gap: 6.4rem;
        column-gap: 4.8rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .testimonials-container {
        padding: 8rem 3.6rem;
    }


    .heading-secondary {
        font-size: 3.6rem
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }


}

/* Below 940px (landscape tablets) */

@media(max-width: 59em) {

    html {
        font-size: 50%;
        /* 8/16 = 0,50 */
        /* 1 rem = 8px */
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 3.2rem
    }

    .customer-container {
        display: flex;
        justify-content: center;
        height: 15vh;
    }

    .hero-img-box,
    .hero-text-box {
        text-align: center;
    }

    .hero-img {
        width: 50%;
    }

    .logos img {
        height: 2rem;
    }

    .step-number {
        font-size: 7.4rem;
    }

    .meal-content {
        padding: 2.4rem 3.2rem;
    }

    .meal-paragraph {
        font-size: 2rem;
        font-weight: 500;
    }

    .section-testimonials {
        display: flex;
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .list-item {
        line-height: 1.8;
    }

    .cta {
        grid-template-columns: 1.8fr 1.2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .btn-form {
        margin-top: 1.2rem
    }

    /* Mobile nav hamburger */

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: var(--hero-section);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* hide nav */
        /* display: none; */
        transition: all 1s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-link:link,
    .nav-link:visited {
        font-size: 2.4rem;
    }
}