/* TOPOGRAPHY 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT-WEIGHTS:
default: 400, 500, 600;

lINE HEIGHTS:
default: 1, 1.3;

BORDER-RADIUS:
default: 1rem;

*/



/* Below 1344px (smaller desktops) */
/* 84 x 16 = 1344 */

@media(max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Below 1200px (landscape tablets) */
@media(max-width: 75em) {
    html {
        font-size: 56.25%;
        /* 9/16 = 0,5625 */
        /* 1 rem = 9px */
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        row-gap: 6.4rem;
        column-gap: 4.8rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .testimonials-container {
        padding: 8rem 3.6rem;
    }


    .heading-secondary {
        font-size: 3.6rem
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }


}

/* Below 940px (landscape tablets) */

@media(max-width: 59em) {

    html {
        font-size: 50%;
        /* 8/16 = 0,50 */
        /* 1 rem = 8px */
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 3.2rem
    }

    .customer-container {
        display: flex;
        justify-content: center;
        height: 15vh;
    }

    .hero-img-box,
    .hero-text-box {
        text-align: center;
    }

    .hero-img {
        width: 50%;
    }

    .logos img {
        height: 2rem;
    }

    .step-number {
        font-size: 7.4rem;
    }

    .meal-content {
        padding: 2.4rem 3.2rem;
    }

    .meal-paragraph {
        font-size: 2rem;
        font-weight: 500;
    }

    .section-testimonials {
        display: flex;
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .list-item {
        line-height: 1.8;
    }

    .cta {
        grid-template-columns: 1.8fr 1.2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .btn-form {
        margin-top: 1.2rem
    }

    .pricing-plan {
        width: 90%;
    }

    .grid--5-cols {
        grid-template-columns: repeat(6, 1fr);

    }

    .nav-col {
        grid-row: 1/2;
        grid-column: span 2;
    }

    .logo-col,
    .adress-col {
        grid-column: span 3;
    }

    .footer-logo {
        text-align: center;
    }



    /* Mobile nav hamburger */

    .btn-mobile-nav {
        display: block;
        z-index: 1000;
    }

    .main-nav {
        background-color: rgb(240, 247, 245, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.7s ease-in;
        opacity: 0;

        /* make it unaccessible to mouse and keyboard */
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }

    .icon-mobile-nav[name="menu-outline"] {
        display: block;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-link:link,
    .nav-link:visited {
        font-size: 2.4rem;
    }


}

/* Below 704px (smaller tablets) */
@media (max-width: 44em) {

    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .diets {
        grid-column: 1/4;
        justify-self: center;
    }

    .heading-secondary {
        font-size: 2.4rem;
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }
}


/* Below 600px (phones) */
@media(max-width: 37.5em) {
    .section-pricing .grid--2-cols {
        grid-template-columns: 1fr;
        width: 70%;

    }

}

/* Below 512px (phones) */
@media(max-width: 34em) {

    html {
        font-size: 43.75%;
        /* 7/16 = 0,4375 */
        /* 1 rem = 7px */
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols,
    .grid--5-cols {
        row-gap: 4.8rem;
        grid-template-columns: 1fr;

    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);

    }

    .section-hero {
        padding: 4.8rem 0;
    }

    .hero {
        padding: 0 3.2rem;
    }

    .container.grid--3-cols.margin-bottom {
        display: flex;
        flex-direction: column;
    }


    .btn,
    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }

    .hero-img {
        width: 80%;
    }

    .customer-container {
        flex-direction: column;
    }

    .customer-container img {
        margin: 1rem 0 1rem;
    }

    .logos img {
        height: 1.5rem;

    }

    .img-box {
        transform: translateY(3rem);
    }

    .img-box:nth-child(2) {
        grid-row: 1;
    }

    .img-box:nth-child(6) {
        grid-row: 5;
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-image-box {
        grid-row: 1;
        height: 40rem;
    }


    .plan-details {
        padding: 1rem 3rem;
    }

    .logo {
        height: 2.4rem;
    }

}