/* GENERAL STYLES */
/* TOPOGRAPHY 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT-WEIGHTS:
default: 400, 500, 600;

lINE HEIGHTS:
default: 1, 1.3;

BORDER-RADIUS:
default: 1rem;

*/

/* COLORS */

:root {
  --primary: #087f5b;
  --font-color: #212529;
  --btn:#087f5b;
  --btn-full-hover-active: #077252;
  --btn-outline-hover-active: #218c6b;
  --btn--outline: #39997c;
  --hero-section: #f0f7f5;
}

/* *************************** */
/* GENERAL STYLE */
/* *************************** */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  html {
    font-size: 62.5%;
    
  }

 
  body {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    line-height: 1;
    font-weight: 400;

  }

/* *************************** */
/* GENERAL STYLE */
/* *************************** */







/* *************************** */
/* HEADER */
/* *************************** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hero-section);
  height: 8rem;
  padding: 0 3.2rem;
}

.logo {
  height: 3.2rem;
  display: inline-block;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  margin-right: 2rem;
  list-style: none;
  
}


.nav-link:link, .nav-link:visited {
  text-decoration: none;
  display: inline-block;
  color: var(--font-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav-link:hover, .nav-link:active {
  color: var(--primary);
}

.cta-link:link, .cta-link:visited  {
  background-color: var(--primary);
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}

.cta-link:hover, .cta-link:active  {
 background-color: var(--btn-full-hover-active);
}

/* *************************** */
/* HEADER */
/* *************************** */






/* *************************** */
/* MAIN */
/* *************************** */


  .section-hero {
  background-color: var(--hero-section);
  padding: 8rem 0;
  }

  
  .hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    padding: 0 3.2rem;
    gap: 8rem;
  }


  .hero-description {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.1px;
    margin-bottom: 4.8rem;
  }

  .hero-img {
    width: 100%;
  }

  

  .customer-container {
    display: flex;
    align-items:center;
  }

  .customer-photos {
    display: flex;
    margin-right: 3rem;
    align-items: center;
  }

  .customer-photos img {
    border-radius: 50%;
    margin:8rem -1.2rem;
    width: 6.4rem;
    height: 6.4rem;
    border: 0.3rem solid var(--hero-section);
  }

  .customer-photos img:first-child {
    margin-left: 0;
  }

  .customer-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3rem;
  }

  .customer-text span {
    color: #fff;
    background-color: var(--btn);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  .container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  .grid--2-cols {
    display: grid;
    row-gap: 8rem;
    column-gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-cols {
    display: grid;
    row-gap: 8rem;
    column-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-cols {
    display: grid;
    row-gap: 8rem;
    column-gap: 6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  /* Section-featured */


.heading-featured-in {
  text-align: center;
  text-transform:uppercase;
  font-size: 1.6rem;
  opacity: 0.9;
  padding: 2rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  opacity: 0.8;
  filter:contrast(70%);

}






/* Section 2 */
  

  .section-2 {
    padding: 8rem 0;
  }

  .img-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .img-box .img {
    width: 38%;
  }

  .img-box::before {
  content: "";
  display: block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  background-color:var(--hero-section) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  }

  .img-box::after { 
    content: "";
    display: block;
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color:#fdf2e9 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

  }


  .step-number {
    font-size: 8rem;
    font-weight: 600;
    color: #bcbebf;
  }

  .step-description {
    font-size: 2rem;
    line-height: 1.3;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Section meals */

  .section-meals {
    padding: 8rem 0;
  }

  .meal-paragraph {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    
  }

  .meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  }

  .meal-attribute {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    
  }
  

  .img-meal {
    width: 100%;
    font-weight: 500;
    border-radius:1rem 1rem 0 0;
  }

  .meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: var(--primary);
  }

  .tag {
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: var(--primary);
    font-weight: 500;
    display: inline-block;
    border-radius: 100px;
    color: #fff;
    margin: 1.2rem 0;
  }

  .meal-content {
    padding: 3rem 5.2rem;
    
  }

  .meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    
  }







  

/* *************************** */
/* MAIN */
/* *************************** */


