/* *************************** */
/* HEADER */
/* *************************** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hero-section);
  height: 8rem;
  padding: 0 3.2rem;
}

.logo {
  height: 3.2rem;
  display: inline-block;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  margin-right: 2rem;
  list-style: none;

}


.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  display: inline-block;
  color: var(--font-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--primary);
}

.cta-link:link,
.cta-link:visited {
  background-color: var(--primary);
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}

.cta-link:hover,
.cta-link:active {
  background-color: var(--btn-full-hover-active);
}

/* *************************** */
/* HEADER */
/* *************************** */






/* *************************** */
/* MAIN */
/* *************************** */


.section-hero {
  background-color: var(--hero-section);
  padding: 8rem 0;
}


.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 8rem;
}


.hero-description {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.1px;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}



.customer-container {
  display: flex;
  align-items: center;
}

.customer-photos {
  display: flex;
  margin-right: 3rem;
  align-items: center;
}

.customer-photos img {
  border-radius: 50%;
  margin: 8rem -1.2rem;
  width: 6.4rem;
  height: 6.4rem;
  border: 0.3rem solid var(--hero-section);
}

.customer-photos img:first-child {
  margin-left: 0;
}

.customer-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.customer-text span {
  color: #fff;
  background-color: var(--btn);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid--2-cols {
  display: grid;
  row-gap: 8rem;
  column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  display: grid;
  row-gap: 8rem;
  column-gap: 6rem;
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  display: grid;
  row-gap: 8rem;
  column-gap: 6rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 8rem;
}


.grid--5-cols {
  display: grid;
  row-gap: 8rem;
  column-gap: 6rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

}


/* Section-featured */


.heading-featured-in {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  opacity: 0.9;
  padding: 2rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  opacity: 0.8;
  filter: contrast(70%);

}






/* Section 2 */


.section-2 {
  padding: 8rem 0;
}

.img-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;


}


.img-box .img {
  width: 38%;
  transition: all 0.3s;
}

.img-box img:hover {
  transform: scale(1.03)
}

.img-box::before {
  content: "";
  display: block;
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  background-color: var(--hero-section);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



.img-box::after {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.step-number {
  font-size: 8rem;
  font-weight: 600;
  color: #bcbebf;
}

.step-description {
  font-size: 2rem;
  line-height: 1.3;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Section meals */

.section-meals {
  padding: 8rem 0;
}

.meal-paragraph {
  font-size: 2.4rem;
  margin-bottom: 3rem;

}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.meal-attribute {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

}


.img-meal {
  width: 100%;
  font-weight: 500;
  border-radius: 1rem 1rem 0 0;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--primary);
}

.tag {
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  background-color: var(--primary);
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
  color: #fff;
  margin: 1.2rem 0;
}

.meal-content {
  padding: 3rem 5.2rem;

}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;

}

.meal:hover {
  transform: translateY(-0.4rem);
  transition: all 0.3s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.07);
}

.diets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.list-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
}

.list-item-icon {
  color: var(--primary);
  height: 2.4rem;
  width: 2.4rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.all-recipes {
  text-align: center;
  font-size: 2rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--btn-outline-hover-active);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;

}

.link:hover,
.link:active {
  color: var(--btn-full-hover-active);
  border-bottom: 1px solid transparent;
}

.heading-center {
  text-align: center;
}

/* Section testimonials */

.section-testimonials {
  background-color: var(--hero-section);
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonials-container {
  padding: 8rem;
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 8rem;

}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.testimonial-paragraph {
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img:hover {
  transform: scale(1.1);

}

/* Section pricing */

.section-pricing {
  padding: 8rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4rem;
}

.plan-name {
  color: var(--btn-full-hover-active);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--font-color);
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 1rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  opacity: 0.95;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4rem;
}

.pricing-plan {
  border-radius: 1rem;
  padding: 4rem;
  width: 75%;
}

.pricing-plan-starter {
  justify-self: end;
  border: 2px solid var(--hero-section);
}

.pricing-plan-complete {
  background-color: var(--hero-section);
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::before {
  content: "best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  top: 6%;
  right: -17%;
  background-color: gold;
  padding: 1rem 7rem;
  transform: rotate(45deg);

}

.red-icon {
  color: red;
  opacity: 0.9;
}

/* Section-features */

.feature {
  text-align: center;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.feature-text {
  font-size: 2rem;
  line-height: 1.3;
}

.round-icons {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--font-color);
  color: #fff;
}

.plan-details {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8;
  margin-top: 3rem;
}

/* Section CTA */

.section-cta {
  padding: 0 0 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--primary);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;

  background-image: linear-gradient(to right bottom, var(--primary), #033324);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  color: #021912;
}

.cta .heading-secondary {
  color: rgb(2, 25, 18, 0.8);
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: var(--hero-section);
}


.cta-image-box {
  background-image: linear-gradient(to left, rgba(8, 127, 91, 0.1), rgba(3, 51, 36, 0.1)), url('../img/eating.jpg');
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2.4rem;

}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--hero-section);

}

.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  font-family: inherit;
  border: none;
  background-color: var(--hero-section);
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}







/* *************************** */
/* MAIN */
/* *************************** */

/* *************************** */
/* FOOTER */
/* *************************** */

.footer {
  padding: 9.6rem 0;
  color: var(--light-grey);
  border-top: 1px solid #eee;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}


.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p:first-child {
  margin-bottom: 3.2rem;
}




.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}



.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--light-grey);
  transition: all 0.3s;
}




.footer-link:hover,
.footer-link:active {
  color: var(--font-color);
}

.social-media-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}


.social-icon {
  height: 3rem;
  width: 3rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;

}

.copyright a {
  text-decoration: none;
  color: var(--light-grey);

}

.copyright a:hover,
.copyright a:active {
  transition: all 0.3s;
  color: var(--font-color);

}





/* *************************** */
/* Footer */
/* *************************** */