/* GENERAL STYLES */
/* TOPOGRAPHY 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT-WEIGHTS:
default: 400;

lINE HEIGHTS:
default: 1;

SHADOWS:
default:

BORDER-RADIUS:
default:

*/

/* COLORS */

:root {
  --primary: #087f5b;
  --font-color: #212529;
  --btn:#033324;
  --btn-full-hover-active: #02261b;
  --btn-outline-hover-active: #054c37;
  --btn--outline: #065940;
  --hero-section: #cee5de;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  html {
    font-size: 62.5%;
    
  }

 
  body {
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    line-height: 1;
    font-weight: 400;

  }

  .section-hero {
  background-color: var(--hero-section);
  padding: 8rem 0;
  }

  .test {
    max-width: 50rem;
    padding: 2rem;
    background-color: var(--primary);
    font-size: 1.6rem;
  }


  .hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 8rem;
  }


  .heading-primary {
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 3.2rem;
    letter-spacing: -1px;
  }

  .hero-description {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: -0.1px;
    margin-bottom: 4.8rem;
  }


  .hero-img {
    width: 100%;
  }

  .btn:link, .btn:visited {
    background-color:var(--btn);
    font-size: 2rem;
    color: #fff;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
  }

  .btn--margin {
    margin-right: 1.6rem;
  }

  .btn--full:link, .btn--full:visited  {
    background-color:var(--btn);
  }

  .btn--full:hover, .btn--full:active  {
    background-color:var(--btn-full-hover-active);
  }

  .btn--outline:link, .btn--outline:visited {
    background-color:var(--btn--outline);
  }

  .btn--outline:hover, .btn--outline:active {
    background-color:var(--btn-outline-hover-active);
  }

   /* GENERAL STYLES */

